.city-input-container{
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
} 

.icon-location{
    stroke: black;
    fill: white;
    position: absolute;
    top: 28%;
    left: 4%
}
//.search{}

.star-icon{
    fill: white;
    stroke: red;
    position: absolute;
    top: 27%;
    right: 6%;
}

.top-cities-div{
    display: flex;
}

.top-cities-list{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.kiev{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: start;
}

.top-city-btn{
    display: flex;
    background-color: yellow;
    cursor: pointer;
    font-size: 12px;
    width: 74px;
    height: 28px;
    padding: 0 12px 0 12px;
    align-items: center;
    justify-content: center;
    border: 1px solid dimgray;
    border-radius: 20px;
    // text-decoration: underline;
    text-decoration: underline;
}

.vectorx{
    stroke: black;
    position: absolute;
}

// .top-cities-list.li{
//     font-size: 12px;
// }

.more-cities-btn{
    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid dimgray;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 80px;
}

