//.city-input-container{} 
.icon-location{
    fill: black;
}
//.search{}
.start-button{
    stroke: black;
    cursor: pointer;
}

.star-icon{
    fill: transparent;
    stroke: black;
}



.top-cities-div{
    display: flex;

}

.top-cities-list{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.top-city-btn{
    background-color: aqua;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.more-cities-btn{
    background-color: aqua;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

//.city-weather-div{}

//.cloudy-icon{} 

//.city{}

//.temp{}

.minmax-div{
    display: flex;
    gap: 20px;
}

.min{
    display: block;
}

.max{
    display: block;
}

.buttons-div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-item{
    background-color: chartreuse;
    border: 1px solid gray;
    padding: 2px;
    cursor: pointer;
}

//.sayings{}

//.calendar-div{}

.calendar-space{
    display: flex;
}

