.search {
    width: 100%;
    height: 48px;
    padding-left: 57px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: #000000;
    background: #FFFFFF;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
}

body{
    min-width: 320px;
    max-width: 428px;
    height: 826px;
    background-image: url(../images/oceansky3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;

    @media screen and(min-width: 768px) {
        max-width: 768px;
        background-image: url(../images/oceansky3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        justify-content: space-between;
    }

    @media screen and(min-width: 1158px) {
        max-width: 1200px;
        justify-content: space-between;
    }
}
