<header>
    <div class="container">
        <div class="city-input-container">

        
            <button class="location-icon">
                <svg class="icon-location" width="20" height="20">
                    <use href="./images/icons.svg#icon-location"></use>
                </svg>
            </button>
            <input type="text" name="search" id="search" class="search" placeholder="Enter the city">

            
                <button class="star-button">
                    <svg class="star-icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-star-1"></use> 
                        </svg>  
                </button>
            </div>

            <!-- <p id="city"></p> -->
            <div class="top-cities-div">
                <ul class="top-cities-list">
                    <li class="kiev"><a class="top-city-btn">Kyiv🇺🇦</a>
                    
                        <svg class="vectorx" width="10" height="10">
                            <use href="./images/icons.svg#vector-x"></use> 
                        </svg>
                    </li>
                    
                    <li class="paris"><a class="top-city-btn">Paris🇫🇷</a>
                        <svg class="vectorx" width="10" height="10">
                            <use href="./images/icons.svg#vector-x"></use>
                        </svg>
                    </li>
                    
                    <!-- <li><a class="top-city-btn">Vinnytsya</a></li>

                    <li><a class="top-city-btn">Warsaw</a></li> -->


                    <li><a class="more-cities-btn">
                        <svg class="arrow-right-icon" width="8" height="16">
                            <use href="./images/icons.svg#right-arrow-svgrepo"></use>
                        </svg>
                    </a></li>
                </ul>

            </div>
    </div>
</header>  