<main>
    <section >  
    <div class="container">
        <div class="city-weather-div">
        <svg class="cloudy-icon"width="20" height="20">
            <use href="./images/icons.svg#icon-cloudy"></use> 
        </svg>

        <p class="city">Kyiv, UA</p>

        <ul class="minmax-list">
            <li><p class="temp">-3</p></li>

            <li class="min">
                <div>
                    <p>min</p>
                    <p>-2°</p>
                </div>
            </li>

            <li class="max">
                <div class="maxdiv">
                    <p>max</p>
                    <p>1°</p>
                </div>
            </li>
        </ul></div>          
    </div>  
    </section>         

    <section >
    <div class="container">
        <div class="buttons-div">
            <buttons class="btn-item ">TODAY</buttons> 

            <buttons class="btn-item">5 DAYS</buttons>
        </div>    
    </div>
    </section>

    <section >
    <div class="container">
        <div class="calendar-div">
            <h2 class="date-day">8<sup>th</sup>&nbsp; Sat</h2>
        <ul class="calendar-space">
            <li style="display: flex;">
                <span>February&nbsp;</span>|&nbsp;<span>21:30:56&nbsp;</span></li>
                
            <li style="display: flex;">
                <i>
                    <svg class="sunrise-icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-sunrise"></use> 
                    </svg>
                </i>
                <span>&nbsp;07:04&nbsp;|&nbsp;</span>

                <i>
                    <svg class="sunset-icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-sunset"></use> 
                    </svg>
                </i>
                <span>&nbsp;17:05</span>
            </li>
        </ul>
        </div>    
    </div></section>
    
    <article>
        <div class="container">
            <div class="sayingsdiv">
                <p class="sayings">Who cares about the clouds when we're<br>together? Just sing a song and bring the<br>sunny weather. 
                    <br>
                    <br></p>
                <p class="daleevans">Dale Evans</p>
            </div>
        </div>
    </article> 
        
    

    
    
</main>